@page
@model TheExampleApp.Pages.CoursesModel
@{
    ViewData["Title"] = $"{Localizer["allCoursesLabel"].Value} ({Model.Courses?.Count})";
}
<div class="layout-no-sidebar">@Html.Partial("Breadcrumbs")</div>
<div class="layout-sidebar">
    <section class="layout-sidebar__sidebar">
        <div class="layout-sidebar__sidebar-header">
            <h2 class="layout-sidebar__sidebar-title">@Localizer["categoriesLabel"]</h2>
        </div>
        <div class="layout-sidebar__sidebar-content">
            <div class="sidebar-menu">
                <ul class="sidebar-menu__list">
                    <li class="sidebar-menu__item">
                        <a class="sidebar-menu__link @(Model.SelectedCategory == null ? "active" : "")" href="/courses">@Localizer["allCoursesLabel"]</a>
                    </li>
                    @if (Model.Categories != null && Model.Categories.Any())
                    {
                        @foreach (var category in Model.Categories)
                        {
                            <li class="sidebar-menu__item">
                                <a class="sidebar-menu__link @(Model.SelectedCategory?.Slug == category.Slug ? "active" : "")"  href="/courses/categories/@category.Slug">@category.Title</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </section>
    <section class="layout-sidebar__content">
        <div class="courses">
            <h1>@(Model.SelectedCategory != null ? Model.SelectedCategory.Title : Localizer["allCoursesLabel"].Value) (@Model.Courses?.Count)</h1>
            @if (Model.EditorialFeaturesEnabled)
            {
                <div class="editorial-features">
                    <div class="editorial-features__item">
                        <a class="editorial-features__text" target="_blank" rel="noopener" href="@($"https://app.contentful.com/spaces/{Model.Categories.FirstOrDefault()?.Sys?.Space?.SystemProperties?.Id}/entries/?contentTypeId=course")">
                            @Localizer["editInTheWebAppLabel"]
                        </a>
                        <div class="editorial-features__hint-wrapper">
                            <svg class="editorial-features__hint-icon">
                                <use xlink:href="/icons/icons.svg#info"></use>
                                <div class="editorial-features__hint-message">
                                    @Localizer["editorialFeaturesHint"]
                                </div>
                            </svg>
                        </div>
                    </div>
                </div>
            }
            <div class="grid-list">
                    @if (Model.Courses == null || Model.Courses.Count == 0)
                    {
                        @Html.Partial("NoContent")
                    }
                    else
                    {
                        @foreach (var course in Model.Courses)
                        {
                            <div class="grid-list__item">
                                @Html.Partial("CourseCard", course)
                            </div>
                        }
                    }
                </div>
            </div>
    </section>
</div>
