@page
@model TheExampleApp.Pages.CoursesModel
@{
    ViewData["Title"] = $"{Localizer["allCoursesLabel"]} ({Model.Categories.Count})";
}
<div class="layout-no-sidebar">@Html.Partial("Breadcrumbs")</div>
<div class="layout-sidebar">
    <section class="layout-sidebar__sidebar">
        <div class="layout-sidebar__sidebar-header">
            <h2 class="layout-sidebar__sidebar-title">@Localizer["categoriesLabel"]</h2>
        </div>
        <div class="layout-sidebar__sidebar-content">
            <div class="sidebar-menu">
                <ul class="sidebar-menu__list">
                    <li class="sidebar-menu__item">
                        <a class="sidebar-menu__link @(string.IsNullOrEmpty(Model.SelectedCategory) ? "active" : "")" href="/courses">@Localizer["allCoursesLabel"]</a>
                    </li>
                    @foreach (var category in Model.Categories)
                    {
                        <li class="sidebar-menu__item">
                            <a class="sidebar-menu__link @(Model.SelectedCategory == category.Slug ? "active" : "")"  href="/courses/categories/@category.Slug">@category.Title</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </section>
    <section class="layout-sidebar__content">
        <div class="courses">
            <h1>All courses (@Model.Courses.Count)</h1>
            <div class="grid-list">
                @foreach (var course in Model.Courses)
                    {
                        <div class="grid-list__item">
                            @Html.Partial("CourseCard", course)
                        </div>
                    }
            </div>
        </div>
    </section>
</div>
