@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    ViewData["ActivePage"] = "Error";
}

<div class="layout-centered">
    <h1>@Localizer["somethingWentWrongLabel"] (@Response.StatusCode)</h1>

    @if (TempData["NotFound"] != null)
    {
        <p>@TempData["NotFound"]</p>
    }
    else if (Response.StatusCode == 404)
    {
        <p>@Localizer["notFoundErrorLabel"]</p>
    }

    @if (Response.StatusCode < 500)
    {
        <h2>@Localizer["tryLabel"]</h2>
        <ul>
            @if (Response.StatusCode == 404)
            {
                <li>@Localizer["error404Route"] </li>
                <li>@Localizer["draftOrPublishedErrorLabel"]</li>
            }
            @if (Response.StatusCode == 400)
            {
                <li>@Localizer["contentModelChangedErrorLabel"]</li>
            }
            @if (Response.StatusCode == 401)
            {
                <li>@Localizer["verifyCredentialsErrorLabel"]</li>
                <li>@Localizer["localeContentErrorLabel"]</li>
            }
        </ul>
    }
    else if (Model.ContentfulException != null)
    {
        <h2>RequestId: @Model.ContentfulException.RequestId</h2>
        <pre class="error__stack-trace">
        <code class="shell">
                @Model.ContentfulException.Message
            </code>
        </pre>
    }
    else if (Response.StatusCode == 500)
    {
       <h2>@Localizer["tryLabel"]</h2>
        <ul>
            <li>@Localizer["contentModelChangedErrorLabel"] </li>
        </ul>
    }
    @if (Manager.IsUsingCustomCredentials)
    {
        <form method="post" action="/Settings?handler=ResetCredentials" asp-antiforgery="true">
            <button type="submit">@Localizer["resetCredentialsLabel"]</button>
        </form>
    }
</div>