@page "{handler?}"
@model TheExampleApp.Pages.SettingsModel
@{
    ViewData["Title"] = @Localizer["settingsLabel"].Value;
    ViewData["ActivePage"] = "Settings";
}



<div class="layout-centered-small">
    @Html.Partial("Breadcrumbs")

    <h1>@Localizer["settingsLabel"]</h1>
    <p>@Localizer["settingsIntroLabel"]</p>

    @if (TempData["Success"] != null)
    {
        <div class="status-block status-block--success">
            <svg class="status-block__icon status-block__icon--success">
                <use xlink:href="/icons/icons.svg#success"></use>
            </svg>
            <div class="status-block__content">
                <div class="status-block__message">
                    @Localizer["changesSavedLabel"]
                </div>
            </div>
        </div>
    }

    @if (TempData["Invalid"] != null)
    {
        <div class="status-block status-block--error">
            <svg class="status-block__icon status-block__icon--error">
                <use xlink:href="/icons/icons.svg#error"></use>
            </svg>
            <div class="status-block__content">
                <div class="status-block__title">@Localizer["errorOccurredTitleLabel"]</div>
                <div class="status-block__message">@Localizer["errorOccurredMessageLabel"]</div>
            </div>
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.SpaceName))
    {
        <div class="status-block status-block--info">
            <svg class="status-block__icon status-block__icon--info">
                <use xlink:href="/icons/icons.svg#info"></use>
            </svg>
            @if (Model.IsUsingCustomCredentials == false)
            {
                <div class="status-block__content">
                    <div class="status-block__message">
                        <p>
                            <em>
                                @Localizer["usingServerCredentialsLabel"]
                            </em>
                        </p>
                        <p>
                            <strong>@Localizer["connectedToSpaceLabel"]:</strong><br />
                            @Model.SpaceName (ID:@Model.AppOptions.SpaceId)
                        </p>
                        <p>
                            <strong>@Localizer["credentialSourceLabel"]:</strong><br />
                            @Localizer["loadedFromLocalFileLabel"] <a href="https://github.com/contentful/the-example-app.csharp/blob/master/TheExampleApp/appsettings.json" target="_blank" rel="noopener">appsettings.json</a>
                        </p>
                        <p>
                            <em>
                                @Localizer["overrideConfigLabel"]
                            </em>
                        </p>
                    </div>
                </div>
            }
            else
            {
                <div class="status-block__content">
                    <div class="status-block__message">
                        <p>
                            <em>
                                @Localizer["usingSessionCredentialsLabel"]
                            </em>
                        </p>
                        <p>
                            <strong>@Localizer["connectedToSpaceLabel"]:</strong><br />
                            @Model.SpaceName (ID:@Model.AppOptions.SpaceId)
                        </p>

                        <form method="post" action="/Settings?handler=ResetCredentials" asp-antiforgery="true">
                            <p>
                                <strong>@Localizer["applicationCredentialsLabel"]:</strong><br />
                                <button type="submit">@Localizer["resetCredentialsLabel"]</button><br />
                                <a class="status-block__sharelink" href="@($"{Request.Scheme}://{Request.Host}?space_id={Model.AppOptions.SpaceId}&preview_token={Model.AppOptions.PreviewToken}&delivery_token={Model.AppOptions.AccessToken}&api={(Model.AppOptions.UsePreviewApi ? "cpa" : "cda")}{(Model.AppOptions.EnableEditorialFeatures ? "&editorial_features=enabled" : "")}")">@Localizer["copyLinkLabel"]</a>
                            </p>
                        </form>
                        <p>
                            <em>
                                @Localizer["overrideConfigLabel"]
                            </em>
                        </p>
                    </div>
                </div>

            }
        </div>
    }

    <form method="post" class="form">
        <div class="form-item">
            <label for="input-space-id">@Localizer["spaceIdLabel"]</label>
            <input asp-for="@Model.AppOptions.SpaceId" id="input-space-id" required />
            @if (ModelState.GetFieldValidationState("AppOptions.SpaceId") == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid)
            {
                <span class="form-item__error-wrapper">
                    <svg class="form-item__error-icon">
                        <use xlink:href="/icons/icons.svg#error"></use>
                    </svg>
                    <span class="form-item__error-message">
                        <span asp-validation-for="AppOptions.SpaceId"></span>
                    </span>
                </span>
            }
            <div class="form-item__help-text">@Localizer["spaceIdHelpText"]</div>
        </div>
        <div class="form-item">
            <label for="input-delivery-token">@Localizer["cdaAccessTokenLabel"]</label>
            <input asp-for="@Model.AppOptions.AccessToken" id="input-delivery-token" required />
            @if (ModelState.GetFieldValidationState("AppOptions.AccessToken") == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid)
            {
                <span class="form-item__error-wrapper">
                    <svg class="form-item__error-icon">
                        <use xlink:href="/icons/icons.svg#error"></use>
                    </svg>
                    <span class="form-item__error-message">
                        <span asp-validation-for="AppOptions.AccessToken"></span>
                    </span>
                </span>
            }
            <div class="form-item__help-text">@Localizer["contentDeliveryApiHelpText"] <a href="https://www.contentful.com/developers/docs/references/content-delivery-api/" target="_blank" rel="noopener">Content Delivery API.</a></div>
        </div>
        <div class="form-item">
            <label for="input-preview-token">@Localizer["cpaAccessTokenLabel"]</label>
            <input asp-for="@Model.AppOptions.PreviewToken" id="input-preview-token" required />
            @if (ModelState.GetFieldValidationState("AppOptions.PreviewToken") == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid)
            {
                <span class="form-item__error-wrapper">
                    <svg class="form-item__error-icon">
                        <use xlink:href="/icons/icons.svg#error"></use>
                    </svg>
                    <span class="form-item__error-message">
                        <span asp-validation-for="AppOptions.PreviewToken"></span>
                    </span>
                </span>
            }
            <div class="form-item__help-text">@Localizer["contentPreviewApiHelpText"] <a href="https://www.contentful.com/developers/docs/references/content-preview-api/" target="_blank" rel="noopener">Content Preview API.</a></div>
        </div>
        <div class="form-item">
            <input asp-for="@Model.AppOptions.EnableEditorialFeatures" id="input-editorial-features" />
            <label for="input-editorial-features">@Localizer["enableEditorialFeaturesLabel"]</label>
            <div class="form-item__help-text">@Localizer["enableEditorialFeaturesHelpText"]</div>
        </div>
        <div class="form-item">
            <input class="cta" type="submit" value="@Localizer["saveSettingsButtonLabel"]" />
        </div>
    </form>
</div>

