@model LayoutHighlightedCourse
@if (Model.Course == null)
{
<div class="module module-highlighted-course">
    <div class="module-highlighted-course__wrapper" >
        <div class="module-highlighted-course__overlay"></div>
        <div class="module-highlighted-course__content">
          
            <h2 class="module-highlighted-course__title">
                <a href="#">@Localizer["errorHighlightedCourse"]</a>
            </h2>
            <div class="module-highlighted-course__description-wrapper">
                <p></p>
            </div>
        </div>
    </div>
</div>
}
else
{
    <div class="module module-highlighted-course">
        <div class="module-highlighted-course__wrapper" style="background-image:url(@Model?.Course?.Image?.File?.Url);">
            <div class="module-highlighted-course__overlay"></div>
            <div class="module-highlighted-course__content">
                @if (Model.Course?.Categories != null && Model.Course.Categories.Any())
                {
                    <div class="module-highlighted-course__categories">
                        @foreach (var category in Model.Course.Categories)
                        {
                            <a class="module-highlighted-course__category" href="/courses/categories/@category.Slug">@category.Title</a>
                        }
                    </div>
                }
                <h2 class="module-highlighted-course__title">
                    <a href="/courses/@Model.Course?.Slug">@Model.Course?.Title</a>
                </h2>
                <div class="module-highlighted-course__description-wrapper">
                    <p markdown>@Model.Course?.ShortDescription</p>
                </div>
                <div class="module-highlighted-course__link-wrapper">
                    <a class="module-highlighted-course__link" href="/courses/@Model.Course?.Slug">@Localizer["viewCourseLabel"]</a>
                </div>
            </div>
        </div>
    </div>
}