@model LessonCodeSnippets

<div class="lesson-module lesson-module-code">

    <div class="lesson-module-code__header">
        @if (!string.IsNullOrEmpty(Model.Curl))
        {
            <a class="lesson-module-code__trigger" data-target="curl">cURL</a>
        }
        @if (!string.IsNullOrEmpty(Model.DotNet))
        {
            <a class="lesson-module-code__trigger lesson-module-code__trigger--active" data-target="dotnet">.NET</a>
        }
        @if (!string.IsNullOrEmpty(Model.Javascript))
        {
            <a class="lesson-module-code__trigger" data-target="javascript">JavaScript</a>
        }
        @if (!string.IsNullOrEmpty(Model.Java))
        {
            <a class="lesson-module-code__trigger" data-target="java">Java</a>
        }
        @if (!string.IsNullOrEmpty(Model.JavaAndroid))
        {
            <a class="lesson-module-code__trigger" data-target="android">Android</a>
        }
        @if (!string.IsNullOrEmpty(Model.Php))
        {
            <a class="lesson-module-code__trigger" data-target="php">PHP</a>
        }
        @if (!string.IsNullOrEmpty(Model.Python))
        {
            <a class="lesson-module-code__trigger" data-target="python">Python</a>
        }
        @if (!string.IsNullOrEmpty(Model.Ruby))
        {
            <a class="lesson-module-code__trigger" data-target="ruby">Ruby</a>
        }
        @if (!string.IsNullOrEmpty(Model.Swift))
        {
            <a class="lesson-module-code__trigger" data-target="swift">Swift</a>
        }
    </div>
    <div class="lesson-module-code__code-area">
        @if (!string.IsNullOrEmpty(Model.Curl))
        {
            <div class="lesson-module-code__code" id="curl">
                <pre><code class="shell">@Model.Curl</code></pre>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.DotNet))
        {
            <div class="lesson-module-code__code lesson-module-code__code--active" id="dotnet">
                <pre><code class="csharp">@Model.DotNet</code></pre>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Javascript))
        {
            <div class="lesson-module-code__code" id="javascript">
                <pre><code class="javascript">@Model.Javascript</code></pre>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Java))
        {
            <div class="lesson-module-code__code" id="java">
                <pre><code class="java">@Model.Java</code></pre>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.JavaAndroid))
        {
            <div class="lesson-module-code__code" id="android">
                <pre><code class="java">@Model.JavaAndroid</code></pre>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Php))
        {
            <div class="lesson-module-code__code" id="php">
                <pre><code class="php">@Model.Php</code></pre>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Python))
        {
            <div class="lesson-module-code__code" id="python">
                <pre><code class="python">@Model.Python</code></pre>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Ruby))
        {
            <div class="lesson-module-code__code" id="ruby">
                <pre><code class="ruby">@Model.Ruby</code></pre>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Swift))
        {
            <div class="lesson-module-code__code" id="swift">
                <pre><code class="swift">@Model.Swift</code></pre>
            </div>
        }
    </div>
</div>